@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	// NAVIGATION
	.nav {
		.nav-links {
			position: relative;
			top: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			width: 40%;
			height: 8vh;
			transform: translateX(0);

			a {
				width: 180px;
				display: inline-block;
				padding: 20px 20px;
				margin: 0 auto;
				font-size: 0.8rem;
				text-align: center;
			}
		}

		.burger {
			display: none;
		}
	}
	// HEADER

	.header .hero-text h1 {
		font-size: 5.5rem;
	}

	.header .hero-text p {
		font-size: 2.5rem;
	}

	// MAIN

	.about-blog h1 {
		font-size: 2rem;
		padding: 1% 15%;
	}

	.about-blog p {
		font-size: 1.2rem;
		padding: 1% 15%;
	}
}

	
