$text-color: rgb(25, 25, 25);
$text-color-light: rgb(75, 75, 75);
$text-color-contrast: rgb(245, 245, 245);
$text-color-contrast-light: rgb(200, 200, 200);

$orange-light: #ffb74d;
$orange-medium: #ff9800;
$orange-hightlight: #f57c00;

$green-light: #31d869;
$green-medium: #13bb4b;
$green-hightlight: #0aa33d;

$grey-light: #d6d6d6;
$grey-medium: #b3b3b3;
$grey-hightlight: #757575;

$deep-orange: #FF3D00;

$dark-blue: #37474f;

$shadow-color: rgba(66, 68, 90, 1);

$background-color: #f6f6f6;
$background-content-color: #fafafa;
$background-navigation-color: white;

$code-block-background-color: #f5f5f5;
$code-block-border-color: $grey-medium;

$code-block-text-color: $deep-orange;

// $selection-background-color: $dark-blue;
// $selection-text-color: $text-color-contrast;

$selection-background-color: #d7ff79;
$selection-text-color: $text-color;

$hiperlink-color: $orange-hightlight;
$hiperlink-selection-color: $orange-light;

$hiperlink-visited-color: $grey-hightlight;
$hiperlink-visited-selection-color: $grey-light;

$hiperlink-active-color: $orange-medium;
$hiperlink-active-selection-color: $orange-medium;

$hiperlink-hover-color: $orange-light;
$hiperlink-hover-selection-color: $orange-hightlight;

$footer-background-color: #000913;

$separator-line-color: $grey-light;

$panel-accept-background-color: #E8F5E9;
$panel-info-background-color: #D4EDF8;
$panel-warning-background-color: #FFFDE7;
$panel-error-background-color: #FBE9E7;

$panel-accept-border-color: #A5D6A7;
$panel-info-border-color: #81D4FA;
$panel-warning-border-color: #FFD54F;
$panel-error-border-color: #FF9E80;

$panel-accept-icon-background-color: #A5D6A7;
$panel-info-icon-background-color: #81D4FA;
$panel-warning-icon-background-color: #f2ff7d;
$panel-error-icon-background-color: #FF9E80;

$panel-accept-icon-color: #00C853;
$panel-info-icon-color: #0288D1;
$panel-warning-icon-color: #ffc738;
$panel-error-icon-color: #F4511E;

$panel-accept-shadow-color: #1B5E20;
$panel-info-shadow-color: #01579B;
$panel-warning-shadow-color: #FF6F00;
$panel-error-shadow-color: #BF360C;