$text-color: rgb(25, 25, 25);
$text-color-light: rgb(75, 75, 75);
$text-color-contrast: rgb(245, 245, 245);
$text-color-contrast-light: rgb(200, 200, 200);

$orange-light: #ffb74d;
$orange-medium: #ff9800;
$orange-hightlight: #f57c00;

$grey-light: #d6d6d6;
$grey-medium: #b3b3b3;
$grey-hightlight: #757575;

$deep-orange: #FF3D00;

$dark-blue: #37474f;

$shadow-color: rgba(66, 68, 90, 1);

$background-color: #f6f6f6;
$background-content-color: #fafafa;
$background-navigation-color: white;

$code-block-background-color: #f5f5f5;
$code-block-border-color: $grey-medium;

$code-block-text-color: $deep-orange;

$selection-background-color: $dark-blue;
$selection-text-color: $text-color-contrast;

$hiperlink-color: $orange-hightlight;
$hiperlink-selection-color: $orange-light;

$hiperlink-visited-color: $grey-hightlight;
$hiperlink-visited-selection-color: $grey-light;

$hiperlink-active-color: $orange-medium;
$hiperlink-active-selection-color: $orange-medium;

$hiperlink-hover-color: $orange-light;
$hiperlink-hover-selection-color: $orange-hightlight;

$footer-background-color: #000913;

$separator-line-color: $grey-hightlight;
