$dark-color: #313638;
$white-color: #fdfbfb;
$dark-orange: #f26419;

$orange-light: #ffb74d;
$orange-medium: #ff9800;
$orange-hightlight: #f57c00;

$dark-blue: #37474f;

$deep-orange: #FF3D00;

$shadow-color: rgba(66, 68, 90, 1);

$code-block-text-color: $deep-orange;

$grey-hightlight: #757575;

$background-navigation-color: white;
$background-content-color: #fafafa;

$code-background-color: #eeeeee;

$code-block-background-color: #f5f5f5;
$code-block-border-color: #bdbdbd;

$selection-background-color: $dark-blue;
$selection-text-color: white;

$hiperlink-color: $orange-hightlight;
$hiperlink-selection-color: $orange-light;

$hiperlink-visited-color: #616161;
$hiperlink-visited-selection-color: #e0e0e0;

$hiperlink-active-color: $orange-medium;
$hiperlink-active-selection-color: $orange-medium;

$hiperlink-hover-color: $orange-light;
$hiperlink-hover-selection-color: $orange-hightlight;

$footer-background-color: #2b363b;

