@media (min-width: 576px) {
	// HEADER

	.header .hero-text h1 {
		font-size: 3.5rem;
	}

	.header .hero-text p {
		font-size: 1.7rem;
	}

	// MAIN

	.about-blog h1 {
		font-size: 1.5rem;
	}

	.about-blog p {
		font-size: 1.3rem;
	}
}
