@import './light_colors';

.chat {
    grid-column: 2 / -2;
    grid-row: 3;

    margin: 5px;

    border-top: 1px solid $separator-line-color;
    border-bottom: 1px solid $separator-line-color;
}

@media (min-width: 768px) {
    .chat {
        margin: 20px;
    }
}

@media (min-width: 1024px) {
    .chat {
        margin-left: 0px;
        margin-right: 0px;
    }
}