@import './light_colors';

main {
    .chat {
        grid-column: 2 / -2;
        padding: 10px;

        div.comment-input-section {

            .comment-actions {
                padding: 10px;
                display: flex;
                // align-items: center;
                justify-content: center;
                
                img {
                    margin-left: 20px;
                    margin-right: 20px;
                    width: 48px;
                    height: 48px;
                    // fill: orange;
                    // background-color: black;
                    filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(97%) contrast(91%);

                    &.like {
                        &.active {
                            filter: invert(86%) sepia(20%) saturate(7496%) hue-rotate(180deg) brightness(100%) contrast(98%);
                        }

                        &:hover {
                            cursor: pointer;
                            filter: invert(86%) sepia(8%) saturate(7496%) hue-rotate(169deg) brightness(100%) contrast(98%);
                        }
                    }
                    &.heart {
                        &.active {
                            filter: invert(35%) sepia(75%) saturate(6315%) hue-rotate(340deg) brightness(100%) contrast(100%);
                        }

                        &:hover {
                            cursor: pointer;
                            filter: invert(40%) sepia(78%) saturate(2315%) hue-rotate(360deg) brightness(100%) contrast(100%);
                        }
                    }
                    &.light {
                        &.active {
                            filter: invert(80%) sepia(75%) saturate(627%) hue-rotate(30deg) brightness(100%) contrast(85%);
                        }

                        &:hover {
                            cursor: pointer;
                            filter: invert(80%) sepia(75%) saturate(627%) hue-rotate(25deg) brightness(100%) contrast(95%);
                        }
                    }
                }
            }
            width: 100%;
            padding: 10px;

            textarea {
                display: block;
                margin-top: 10px;
                margin-bottom: 0px;

                width: 100%;
                height: 50px;
                min-height: 28px;
                resize: vertical;
                border: 1px groove gainsboro;
                transition: height 0.2s;
                animation-duration: alternate;
                background-color: $code-block-background-color;

            }
            
            textarea:focus {
                height: 100px;
                border: 2px groove gainsboro;
                outline: none;
                background-color: white;
            }

            .comment-area-buttons {
                margin-bottom: 10px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                border: 1px groove gainsboro;
                border-top: none;
                
                button {
                    color: $text-color-light;
                    padding: 5px;
                    border: none;
                    border-left: 1px groove gainsboro;
                    background-color: #f5f5f5;

                }

                button:hover {
                    cursor: pointer;
                    // border-color: $green-light;
                    color: $green-medium;

                }
            }

        }

        div.comment-section {
            margin: 10px;
            div.comment {
                display: grid;
                grid-template-areas:
                    "avatar top-line top-line top-line"
                    "avatar content content end-line"
                    "avatar content content end-line";
                grid-template-columns: 41px 41px 1fr 1px;
                grid-template-rows: 1px 40px 1fr;
    
                .avatar {
                    &.first{
                        img {
                            border-top-left-radius: 25%;
                        }
                    }
                    grid-area: avatar;
    
                    display: grid;
                    grid-template-columns: 41;
                    grid-template-rows: 41px 1fr;
    
                    img {
                        grid-row: 1;
    
                        padding: 4px;
                        background-color: rgb(245, 245, 245);
                        border-radius: 0%;
                        border-bottom-right-radius: 25%;
                        border: 1px solid rgb(210, 210, 210);
                    }
    
                    div {
                        grid-row: 2;
                        width: 100%;
                        height: 100%;
    
                        &.first {
                            border-left: 1px solid rgb(210, 210, 210);
                        }
                    }
                }
    
                .comment-top-lines {
                    grid-area: top-line;
                    display: grid;
                    height: 1px;
                    width: 100%;
                    grid-template-columns:  repeat(18, 3px) 1fr repeat(17, 2px) 20px;
    
                    .top-left {
                        border-bottom: 1px solid rgb(210, 210, 210);
                    }
                    .top-right {
                        border-bottom: 1px solid rgb(210, 210, 210);
                    }
                }
                .comment-end-lines {
                    grid-area: end-line;
                    display: grid;
                    height: 100%;
                    width: 1px;
                    grid-template-rows: 10px repeat(17, 1px) 1fr repeat(17, 1px) 4px ;
    
                    .top-right {
                        border-right: 1px solid rgba(210, 210, 210);
                    }
                    .bottom-right {
                        border-right: 1px solid rgba(210, 210, 210);
                    }
                }
    
                .content {
                    grid-area: content;
    
                    .name {
                        width: 100%;
        
                        margin: 10px;
                    }
        
                    .comment {    
                        margin: 10px;
                        margin-right: 20px;
                    }
                    
                }
            }
    
            div.answer {
                display: grid;
                grid-template-areas:
                    "break-line avatar top-line top-line"
                    "break-line avatar content end-line"
                    "break-line avatar content end-line";
                grid-template-columns: 11px 41px 1fr 1px;
                grid-template-rows: 1px 40px 1fr;
    
                .break-line {
                    display: grid;
                    width: 100%;
                    height: 100%;
                    grid-area: break-line;
                    // border-left: 1px solid rgb(210, 210, 210);
                    // border-bottom: 1px solid rgb(210, 210, 210);
    
                        border-left: 1px solid rgb(210, 210, 210);
                        border-top: 1px solid rgb(210, 210, 210);
                }
                .avatar {
                    grid-area: avatar;
                    height: 100%;
    
                    display: grid;
    
                    grid-template-columns: 1fr 1fr;
    
                        img {
                            grid-row: 1;
    
                            padding: 4px;
                            background-color: rgb(245, 245, 245);
                            border-radius: 25%;
                            border-top-right-radius: 0%;
                            border-top-left-radius: 0%;
                            border: 1px solid rgb(210, 210, 210);
                        }   
                }
    
                .comment-top-lines {
                    grid-area: top-line;
                    display: grid;
                    height: 1px;
                    width: 100%;
                    grid-template-columns: repeat(18, 2px) 1fr repeat(17, 2px) 20px;
    
                    .top-left {
                        border-top: 1px solid rgba(210, 210, 210);
                    }
                    .top-right {
                        border-top: 1px solid rgba(210, 210, 210);
                    }
                }
                .comment-end-lines {
                    grid-area: end-line;
                    display: grid;
                    height: 100%;
                    width: 1px;
                    grid-template-rows: 10px repeat(17, 1px) 1fr repeat(17, 1px) 4px ;
    
                    .empty {
                    }
                    .top-right {
                        border-right: 1px solid rgba(210, 210, 210);
                    }
                    .bottom-right {
                        border-right: 1px solid rgba(210, 210, 210);
                    }
                }   
                .content {
                    grid-area: content;
                    .name {
                        width: 100%;
        
                        margin: 10px;
                    }
        
                    .comment {
        
                        margin: 10px;
                        margin-right: 20px;
                    }
                }
            }
        }
        

        .after {
            display: grid;

            div {
                width: 100%;
                height: 2px;

                border-left: 1px solid rgb(210, 210, 210);
                border-right: 1px solid rgb(210, 210, 210);
            }

            div.below-twenty  {
                height: 3px;
            }
        }
        
        .empty {
        }
    }
}