@import './light_colors';

footer {    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 2em;

    margin-top: 20px;

	background-color: $footer-background-color;
    box-shadow: 0px -5px 40px -24px $shadow-color;

	div.content {
        grid-column: 1 / -1;
        grid-row: 1;

        margin: 5px;
        
	    color: $text-color-contrast;
	}
	
    div.name {
        grid-column: 1 / -1;
        grid-row: 2;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        
        border-top: 1px solid $separator-line-color;
        
        p {
            grid-column: 1 / -1;

            display: flex;
            align-items: center;
            margin-left: 5px;

	        color: $text-color-contrast-light;
        }
    }
}

@media (min-width: 768px) {
    footer {                    
        div.content {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
        }
        
        div.name {
            p {
                margin-left: 20px;
            }
        }
    }
}

@media (min-width: 1024px) {
    footer {                    
        div.content {
            grid-column: 2 / -2;    

            margin-left: 0px;
            margin-right: 0px;
        }
        
        div.name {
            p {
                grid-column: 2 / -2;

                margin: 0px;
            }
        }
    }
}

@media (min-width: 1366px) {
    footer {    
        grid-template-columns: 1fr repeat(10, 130px) 1fr;
                
        div.name {
            grid-template-columns: 1fr repeat(10, 130px) 1fr;
        }
    }
}