@import './light_colors';
@import './global_variables';
@import './animations';

main {
    header {
        grid-column: 1 / -1;
        grid-row: 1;
    
        position: relative;
        height: calc(70vh - $navigation-height);
        clip-path: inset(0);
    
        .hero-text {
            color: white;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: 'Bai Jamjuree', sans-serif;
            
            h1 {
                font-family: 'Ubuntu Condensed', sans-serif;
                text-transform: uppercase;
                color: $text-color-contrast;
                font-size: 3rem;
            }
    
            pre {
                margin: $big-margin;
                margin-top: 0;
                margin-bottom: 0;
    
                font-size: 1.5rem;
                color: $text-color-contrast;
                white-space: pre-wrap;
            }
            
        img.header-arrow {
            margin-top: 20px;
            opacity: 0.5;
            animation: scrollDown 2s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    
            z-index: 10;
        }
        
    
        img.background {
            object-fit: cover;
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            filter: brightness(50%);
        }
    }
}