@import './light_colors';
@import './animations';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	color: $text-color;

    font-size: 16px;
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: 1.5em;
}

html {
	scroll-behavior: smooth;
	background-color: $background-color;
}

main {
	margin: 10px;


    h1 {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 2.25rem;
        line-height: 1.15em;
	}

	h2 {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 2rem;
        line-height: 1.15em;
	}

    h3 {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 1.75rem;
        line-height: 1.15em;
	}
}


.accept-icon-background {
	height: 50px;
	width: 50px;
	background-color: greenyellow;
	border-radius: 100%;

	.accept-icon-shadow {
		filter: drop-shadow(2px 2px 3px rgb(35, 53, 40));

		.accept-icon {
			height: 50px;
			width: 50px;
			mask-image: url('~/assets/icons/accept.svg');
			mask-size: contain;
			background-color: green;

		}
	}
}

.info-icon-background {
	height: 50px;
	width: 50px;
	background-color: greenyellow;
	border-radius: 100%;

	.info-icon-shadow {
		filter: drop-shadow(2px 2px 3px rgb(35, 53, 40));

		.info-icon {
			height: 50px;
			width: 50px;
			mask-image: url('~/assets/icons/info.svg');
			mask-size: contain;
			background-color: green;

		}
	}
}

.warning-icon-background {
	height: 50px;
	width: 50px;
	background-color: greenyellow;
	border-radius: 100%;

	.warning-icon-shadow {
		filter: drop-shadow(2px 2px 3px rgb(35, 53, 40));

		.warning-icon {
			height: 50px;
			width: 50px;
			mask-image: url('~/assets/icons/warning2.svg');
			mask-size: contain;
			background-color: green;

		}
	}
}

.error-icon-background {
	height: 50px;
	width: 50px;
	background-color: greenyellow;
	border-radius: 100%;

	.error-icon-shadow {
		filter: drop-shadow(2px 2px 3px rgb(35, 53, 40));

		.error-icon {
			height: 50px;
			width: 50px;
			mask-image: url('~/assets/icons/error.svg');
			mask-size: contain;
			background-color: green;

		}
	}
}

@media (min-width: 320px) {

}
@media (min-width: 480px) {

}
@media (min-width: 768px) {
	main {
		margin: 40px;
	}
}
@media (min-width: 800px) {

}
@media (min-width: 1024px) {
	main {
		display: grid;
		
		margin-left: 0px;
		margin-right: 0px;
		
		grid-template-columns: repeat(12, 1fr);
	}
}
@media (min-width: 1200px) {

}
@media (min-width: 1366px) {
	main {
		grid-template-columns: 1fr repeat(10, 130px) 1fr;
	}
}