@import './light_colors';
@import './animations';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	color: $text-color;

    font-size: 16px;
}

html {
	scroll-behavior: smooth;
	background-color: $background-color;
}


@media (min-width: 320px) {

}
@media (min-width: 480px) {

}
@media (min-width: 768px) {

}
@media (min-width: 800px) {

}
@media (min-width: 1024px) {
	main {
		display: grid;
		
		grid-template-columns: repeat(12, 1fr);
	}
}
@media (min-width: 1200px) {

}
@media (min-width: 1366px) {
	main {
		grid-template-columns: 1fr repeat(10, 130px) 1fr;
	}
}