@import './light_colors';
@import './global_variables';
@import './animations';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	color: $text-color;

	font-size: 16px;
	font-family: 'Bai Jamjuree', sans-serif;
	line-height: 1.5em;
}

html {
	scroll-behavior: smooth;
	background-color: $background-color;
}

.base-container {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;

	main {
		grid-row: 2;

		h2 {
			font-family: 'Ubuntu Condensed', sans-serif;
			font-size: 2.25rem;
			line-height: $header-line-height;
		}

		h3 {
			font-family: 'Ubuntu Condensed', sans-serif;
			font-size: 2rem;
			line-height: $header-line-height;
		}

		h4 {
			font-family: 'Ubuntu Condensed', sans-serif;
			font-size: 1.75rem;
			line-height: $header-line-height;
		}
	}
}

@media (min-width: 320px) {}

@media (min-width: 480px) {}

@media (min-width: 768px) {}

@media (min-width: 800px) {}

@media (min-width: 1024px) {
	main {
		display: grid;

		margin-left: 0px;
		margin-right: 0px;

		grid-template-columns: repeat(12, 1fr);
	}
}

@media (min-width: 1200px) {}

@media (min-width: 1366px) {
	main {
		grid-template-columns: 1fr repeat(10, 130px) 1fr;
	}
}