@import './light_colors';
@import url('https://css.gg/arrow-bottom-right-r.css');

.nuxt-content {
    margin-top: 10px;
    padding: 10px;

    box-shadow: 5px 0px 5px -7px $shadow-color, -5px 0px 5px -7px $shadow-color;

    *::selection {
        background-color: $selection-background-color;
        color: $selection-text-color;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 20px;

        a {
            display: none;
        }

        code {
            font-size: 2.25rem;
        }

        &:after {
            content: '';

            padding-top: 10px;
            border-bottom: 1px solid $separator-line-color;

            display: block;
            width: 100%;
        }
    }

    h3 {
        padding-top: 10px;

        a {
            display: none;
        }

        code {
            font-size: 2rem;
        }
    }

    h4 {
        padding-top: 10px;

        a {
            display: none;
        }

        code {
            font-size: 1.75rem;
        }
    }

    // paragraph
    p {
        padding-top: 10px;
        padding-bottom: 10px;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;

            max-width: 100%;

            border-radius: 7px;
        }

        a {
            color: $hiperlink-color;
            text-decoration: none;
            transition: all .2s ease-in;

            &::selection {
                color: $hiperlink-selection-color;
            }

            &:visited {
                color: $hiperlink-visited-color;

                &::selection {
                    color: $hiperlink-visited-selection-color;
                }
            }

            &:active {
                color: $hiperlink-active-color;

                &::selection {
                    color: $hiperlink-active-selection-color;
                }
            }

            &:hover {
                color: $hiperlink-hover-color;

                &::selection {
                    color: $hiperlink-hover-selection-color;
                }
            }
        }
    }

    // list
    li {
        padding-top: 5px;
        padding-bottom: 5px;

        display: flex;

        counter-increment: inst;
        text-align: left;

        p {
            padding: 0;
        }

        &:before {
            margin-right: 15px;
            padding-right: 15px;
            padding-left: 15px;

            background: $orange-medium;
            border-radius: 4px 20px 20px 3px;

            font-family: 'Fira Code', monospace;
            font-style: italic;
            text-align: center;
            color: white;

            height: 1.45em;
        }

    }

    // list
    ul {
        li:before {
            content: "";
            padding-left: 1.55em;

        }
    }

    // numerated list
    ol {
        li:before {
            content: counter(inst);
        }
    }

    // quote
    blockquote {
        background-color: $grey-light;

        * {
            padding: 0px;
            padding-left: 3.5rem;
            padding-right: 3.5rem;
        }

        &::before {
            display: flex;

            zoom: 70%;
            height: 3.5rem;

            content: url('~/assets/icons/apostrophe.svg');
        }

        &::after {
            display: flex;
            justify-content: end;

            zoom: 70%;
            height: 3.5rem;

            content: url('~/assets/icons/apostrophe.svg');
        }
    }

    // code text
    code {
        margin-left: 2px;
        margin-right: 2px;

        font-family: 'Fira Code', monospace;

        color: $code-block-text-color;
    }

    // code-block
    div.code-block {
        margin-bottom: 10px;
        
        position: relative;

        div.code-button-section {
            position: relative;
            width: 100%;

            .code-button {
                position: relative;
                margin: 5px;
                padding: 5px;
                padding-left: 15px;
                padding-right: 15px;

                border-radius: 14px 14px 14px 14px;
                border: 1px solid $code-block-border-color;
                background-color: $background-color;
                transition: .4s;
            }

            .code-button:hover {
                cursor: pointer;
                color: $green-medium;
                transition: .4s;
            }

            .code-button::after,
            .code-button::before {
                content: '';
                display: block;
                position: absolute;
                transition: all .5s;
                z-index: -1;

                width: 100%;
                height: 100%;


                border-radius: 14px 14px 14px 14px;
            }

            .code-button::before {
                top: 0;
                left: 0;

                border-top: 1px solid $code-block-border-color;
                border-left: 1px solid $code-block-border-color;
            }

            .code-button::after {
                bottom: 0;
                right: 0;

                border-bottom: 1px solid $code-block-border-color;
                border-right: 1px solid $code-block-border-color;
            }

            .active-code-button {
                font-weight: bold;
                border: 1px solid transparent;
                color: $green-medium;
                transition: .4s;
            }

            .active-code-button::after {
                bottom: -2px;
                right: -2px;

                border-bottom: 1px solid $green-medium;
                border-right: 1px solid $green-medium;
            }

            .active-code-button::before {
                top: -2px;
                left: -2px;

                border-top: 1px solid $green-medium;
                border-left: 1px solid $green-medium;
            }
        }

        div.code-content {
            position: relative;
            width: 100%;
            transition: all .8s;


            .hide-code {
                transition: 1s;
                opacity: 0;
                transform: rotateY(180deg);

                z-index: -1;
            }

            .show-code {
                transition: 1s;
                opacity: 100;
                transform: rotateY(0);

                z-index: 1;
            }

            div {
                &.nuxt-content-highlight {
                    position: absolute;
                    overflow: visible;
                    width: 100%;

                    pre {
                        background-color: $background-color;
                        box-shadow: 0px 5px 5px -7px $shadow-color-light, 0px -5px 5px -7px $shadow-color-light;

                        code {
                            color: $text-color;

                            * {
                                font-family: 'Fira Code', monospace;
                            }

                            .token.punctuation {
                                color: $text-color;
                            }

                            .token.class-name {
                                color: $text-color;
                            }

                            .token.function {
                                color: $text-color;
                            }

                            .token.number {
                                color: $code-block-number-color;
                            }

                            .token.string {
                                color: $code-block-string-color;
                                font-weight: bold;
                            }

                            .token.operator {
                                color: $text-color;
                            }

                            .token.keyword {
                                color: $code-block-keyword-color;
                                font-weight: bold;
                            }

                            span.token.operator {
                                background-color: $code-block-background-color;
                            }

                            .token.annotation {
                                color: $orange-hightlight;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .nuxt-content {
        padding: 20px;

        // code-block
        div.code-block {
            div.code-content {
                div.nuxt-content-highlight {
                        pre {
                            background-color: $code-block-background-color;
                            border: 1px solid $code-block-border-color;
                            border-radius: 12px 12px 12px 12px;
                            box-shadow: none;
                        }
                }
            }
        }
    }
}

@-moz-document url-prefix(){
    .nuxt-content {
        // quote
        blockquote {    
            &::before {
                display: flex;
                
                height: 3.5rem;

                content: url('~/assets/icons/apostrophe.svg');
            }
    
            &::after {
                display: flex;
                justify-content: end;

                height: 3.5rem;
                
                content: url('~/assets/icons/apostrophe.svg');
            }
        }
    }
}