@import './light_colors';

.nuxt-content {
    padding: 10px;

    box-shadow: 0px -12px 24px -20px rgba(66, 68, 90, 1);
    code {
        margin-left: 2px;
        margin-right: 2px;

        font-family: 'Fira Code', monospace;
    }

    *::selection {
        background-color: $selection-background-color;
        color: $selection-text-color;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 20px;

        code {
            font-size: 2.25rem;
        }

        a {
            display: none;
        }

        &:after {
            content: '';

            padding-top: 10px;
            border-radius: 2px;
            border-bottom: 1px solid $separator-line-color;

            display: block;
            width: 100%;
        }
    }

    h3 {
        padding-top: 10px;

        a {
            display: none;
        }

        code {
            font-size: 2rem;
        }
    }

    h4 {
        padding-top: 10px;

        a {
            display: none;
        }

        code {
            font-size: 1.75rem;
        }
    }

    p {
        padding-top: 10px;
        padding-bottom: 10px;

        img {
            border-radius: 7px;
            width: 100%;
        }

        a {
            color: $hiperlink-color;
            text-decoration: none;
            transition: all .2s ease-in;

            &::selection {
                color: $hiperlink-selection-color;
            }

            &:visited {
                color: $hiperlink-visited-color;

                &::selection {
                    color: $hiperlink-visited-selection-color;
                }
            }

            &:active {
                color: $hiperlink-active-color;

                &::selection {
                    color: $hiperlink-active-selection-color;
                }
            }

            &:hover {
                color: $hiperlink-hover-color;

                &::selection {
                    color: $hiperlink-hover-selection-color;
                }
            }
        }

        code {
            color: $code-block-text-color;
        }
    }

    div {
        pre {
            background-color: $code-block-background-color;
            border: 1px solid $code-block-border-color;
            border-radius: 12px 12px 12px 12px;

            code {
                span.token.operator {
                    background-color: $code-block-background-color;
                }
            }
        }
    }

    li {
        padding-top: 5px;
        padding-bottom: 5px;

        display: flex;

        counter-increment: inst;
        text-align: left;

        &:before {
            margin-right: 15px;
            padding-right: 15px;
            padding-left: 15px;

            background: $orange-medium;
            border-radius: 4px 20px 20px 3px;

            font-family: 'Fira Code', monospace;
            font-style: italic;
            text-align: center;
            color: white;

            height: 1.45em;
        }

    }

    ul {
        li:before {
            content: "";
            padding-left: 1.55em;

        }
    }

    ol {
        li:before {
            content: counter(inst);
        }
    }

    blockquote {
        font-family: 'Fira Code', monospace;
        background-color: $grey-light;

        * {
            padding-left: 40px;
            padding-right: 40px;
        }

        &::before {
            display: flex;
            height: 40px;
            content: url('~/assets/icons/apostrophe.svg');
        }

        &::after {
            display: flex;
            height: 40px;
            content: url('~/assets/icons/apostrophe.svg');
            justify-content: end;
        }
    }
}

@media (min-width: 768px) {
    .nuxt-content {
        padding: 20px;
    }
}