@import './light_colors';

.nuxt-content  {
    padding: 20px;
    background-color: $background-content-color;
    
    *::selection {
        background-color: $selection-background-color;
        color: $selection-text-color;
    }

    h1 {
        padding-bottom: 10px;

        font-size: 32px;

        &:after {
            content: '';

            padding-top: 10px;
            border-radius: 2px;
            border-bottom: 1px solid rgb(182, 182, 182);
            
            display: block;
            width: 100%;
        }
    }

    h2 {
        padding-top: 10px;

        font-size: 28px;
    }

    h3 {
        padding-top: 10px;

        font-size: 24px;
    }

    p {
        padding-top: 10px;
        padding-bottom: 10px;

        font-size: 18px;

        img {
            border-radius: 7px;
            width: 100%;
        }

        a {
            color: $hiperlink-color;
            text-decoration: none;
            transition: all .2s ease-in;
    
            &::selection {
                color: $hiperlink-selection-color;
            }

            &:visited {
                color: $hiperlink-visited-color;
                
                &::selection {
                    color: $hiperlink-visited-selection-color;
                }
            }

            &:active {
                color: $hiperlink-active-color;
                
                &::selection {
                    color: $hiperlink-active-selection-color;
                }
            }

            &:hover {
                color: $hiperlink-hover-color;
                
                &::selection {
                    color: $hiperlink-hover-selection-color;
                }
            }
        }

        code {
            padding-left: 4px;
            padding-right: 4px;
            font-family: 'Fira Code', monospace;

            background-color: $code-background-color;
            border-radius: 6px 6px 6px 6px;
        }
    }

    div {
        pre {
            background-color: $code-block-background-color;
            border: 1px solid $code-block-border-color;
            border-radius: 12px 12px 12px 12px;

            code {
                font-family: 'Fira Code', monospace;


                // span.token.punctuation {
                //     background-color: aquamarine;
                // }

                span.token.operator {
                    background-color: $code-block-background-color;
                }
            }
        }
    }
    li {
        padding-top: 5px;
        padding-bottom: 5px;
        
        font-size: 20px;
        display: block;
        counter-increment: inst;
        text-align: left;

        &:before {
            margin-right: 15px;
            padding-right: 15px;
            padding-left: 15px;

            background: $orange-medium;
            border-radius: 4px 20px 20px 3px;

            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            text-align: center;
            color: white;
        }

    }

    ul {
        li:before {
            content: "";
            padding-left: 23px;
        }
    }

    ol {
        li:before {        
            content: counter(inst);
        }
    }
}