.opacity-ten {
    opacity: 10%;
}
.opacity-fifteen {
    opacity: 15%;
}
.opacity-twenty {
    opacity: 20%;
}
.opacity-twenty-five {
    opacity: 25%;
}
.opacity-thirty {
    opacity: 30%;
}
.opacity-thirty-five {
    opacity: 35%;
}
.opacity-forty {
    opacity: 40%;
}
.opacity-forty-five {
    opacity: 45%;
}
.opacity-fifty-five {
    opacity: 50%;
}
.opacity-fifty {
    opacity: 55%;
}
.opacity-sixty {
    opacity: 60%;
}
.opacity-sixty-five {
    opacity: 65%;
}
.opacity-seventy {
    opacity: 70%;
}
.opacity-seventy-five {
    opacity: 75%;
}
.opacity-eighty {
    opacity: 80%;
}
.opacity-eighty-five {
    opacity: 85%;
}
.opacity-ninety {
    opacity: 90%;
}
.opacity-ninety-five {
    opacity: 95%;
}