@import './light_colors';
@import './global_variables';

.panel {
    margin-top: 10px;

    display: grid;
    grid-template-rows: 60px 1fr;

    &.accept {
        background-color: $panel-accept-background-color;
    }
    &.info {
        background-color: $panel-info-background-color;
    }
    &.warning {
        background-color: $panel-warning-background-color;
    }
    &.error {
        background-color: $panel-error-background-color;
    }

    .icon {
        grid-row: 1;

        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        
        display: flex;
        justify-content: center;

        &.accept {
            border-bottom: 1px solid $panel-accept-border-color;
        }
        &.info {
            border-bottom: 1px solid $panel-info-border-color;
        }
        &.warning {
            border-bottom: 1px solid $panel-warning-border-color;
        }
        &.error {
            border-bottom: 1px solid $panel-error-border-color;
        }

        filter: drop-shadow(1.5px 1.5px 3px rgba(148, 148, 148, 0.5));
        
        .accept-icon-background {
            height: 50px;
            width: 50px;
            background-color: $panel-accept-icon-background-color;
            border-radius: 100%;
    
            .accept-icon-shadow {
                filter: drop-shadow(2px 1px 2px $panel-accept-shadow-color);
    
                .accept-icon {
                    height: 50px;
                    width: 50px;
                    mask-image: url('~/assets/icons/accept.svg');
                    mask-size: contain;
                    background-color: $panel-accept-icon-color;
    
                }
            }
        }

        .info-icon-background {
            height: 50px;
            width: 50px;
            background-color: $panel-info-icon-background-color;
            border-radius: 100%;
    
            .info-icon-shadow {
                filter: drop-shadow(2px 1px 2px $panel-info-shadow-color);
    
                .info-icon {
                    height: 50px;
                    width: 50px;
                    mask-image: url('~/assets/icons/info.svg');
                    mask-size: contain;
                    background-color: $panel-info-icon-color;
    
                }
            }
        }

        .warning-icon-background {
            height: 50px;
            width: 50px;
            background-color: $panel-warning-icon-background-color;
            border-radius: 100%;
    
            .warning-icon-shadow {
                filter: drop-shadow(2px 1px 2px $panel-warning-shadow-color);
    
                .warning-icon {
                    height: 50px;
                    width: 50px;
                    mask-image: url('~/assets/icons/warning.svg');
                    mask-size: contain;
                    background-color: $panel-warning-icon-color;
    
                }
            }
        }

        .error-icon-background {
            height: 50px;
            width: 50px;
            background-color: $panel-error-icon-background-color;
            border-radius: 100%;
    
            .error-icon-shadow {
                filter: drop-shadow(2px 1px 2px $panel-error-shadow-color);
    
                .error-icon {
                    height: 50px;
                    width: 50px;
                    mask-image: url('~/assets/icons/error.svg');
                    mask-size: contain;
                    background-color: $panel-error-icon-color;
    
                }
            }
        }
    }
    
    .content {
        grid-row: 2;

        margin-left: 1em;
        margin-right: 1em;
        display: flex;

        align-items: center;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
	.panel {
        display: grid;
        grid-template-columns: 90px 1fr;
        grid-template-rows: auto;
        
        .icon {
            grid-column: 1;
            grid-row: 1;

            margin: 20px;
            
            &.accept {
                border-bottom: none;
            }
            &.info {
                border-bottom: none;
            }
            &.warning {
                border-bottom: none;
            }
            &.error {
                border-bottom: none;
            }
        }
        
        .content {
            grid-column: 2;
            grid-row: 1;
    
            margin: 0.8em;
            margin-top: 0.8em;
            margin-left: 0px;
        }
    }
}